<ion-view title="优职">
  <ion-nav-buttons side="left">
    <a class="button button-clear icon-right ion-android-arrow-dropdown"
       ng-bind="cityName.name"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="home-count">
      <div class="card">
        <div class="row text-center">
          <div class="col col-50 ch-h-right">
            <div class="dark">
              <h2 class="title balanced">50,000.00</h2>
              <p>兼职求职需求</p>
            </div>
          </div>
          <div class="col col-50">
            <div class="dark">
              <h2 class="title balanced">50,000.00</h2>
              <p>企业招聘需求</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-button">
      <div class="row">
        <div class="col">
          <button class="button button-block button-balanced" ng-click="openSorts();">
            <h4 class="title light">帮我找兼职</h4>
          </button>
        </div>
      </div>
    </div>
    <div>
      <ion-item class="item-divider text-center">
        <h5 class="title" style="font-size: 0.7rem">附近的兼职</h5>
      </ion-item>
    </div>
    <ion-refresher pulling-text="更新数据..." spinner="ripple" on-refresh="doRefresh();"></ion-refresher>
    <div class="home-list">
      <ion-list ng-show="items.length==0">
        <ion-item class="item-divider">
          暂无数据
        </ion-item>
      </ion-list>
      <ion-list ng-show="items.length!==0">
        <ion-item collection-repeat="item in items" href="#/tab/postDetail/{{item.id}}">
          <div class="row">
            <div class="col col-80">
              <h2 class="title" ng-bind="item.title"></h2>
              <p ng-bind="item.jobAddress" style="padding: .1rem 0rem"></p>
              <h3 class="balanced" ng-bind="item.positionModel.name+'&nbsp&nbsp&nbsp&nbsp'+item.salary+item.salaryTypeName+'&nbsp&nbsp&nbsp&nbsp'+item.settlementTypeName+'&nbsp&nbsp&nbsp&nbsp'+'招聘&nbsp'+item.count+'人'"></h3>
            </div>
            <div class="col col-20">
              <h2><span ng-bind="(item.distance|number:1)+'Km'" class="dark3"></span></h2>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <ion-infinite-scroll on-infinite="load_more();" spinner="ripple" class="positive"
                         distance="20%"></ion-infinite-scroll>
  </ion-content>
  <!--分类选择-->
  <script id="sorts-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-dark">
        <a class="button button-icon ion-ios-arrow-left" ng-click="closeSorts();"></a>
        <h1 class="title" ng-bind="Title.sorts"></h1>
        <a class="button" ng-click="openSend();">下一步</a>
      </ion-header-bar>
      <ion-content class="modelContent" scrollbar-x="false">
        <div ng-repeat="r in CateLists">
          <ion-list>
            <ion-item class="item-divider item-borderless balanced" ng-bind="r.name"
                      style="color: #b2b2b2;font-size: 0.85rem"></ion-item>
            <ion-radio ng-repeat="y in PostLists |filter:r.id" ng-value="y.id"
                       ng-model="applyJob.formatJob" class="balanced">
              <!--多个条件并列的时候使用以下方法-->
              <!--ng-model="applyJob.formatJob[$parent.$index]" class="balanced">-->
              {{y.name}}
            </ion-radio>
          </ion-list>
        </div>
        {{applyJob.formatJob|json}}
      </ion-content>
    </ion-modal-view>
  </script>
  <!--薪酬、兼职经验选择-->
  <script id="send-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-dark">
        <a class="button button-icon ion-ios-arrow-left" ng-click="closeSend();"></a>
        <h1 class="title" ng-bind="Title.send"></h1>
        <a class="button" ng-click="addApply();">发送</a>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item class="item-divider item-borderless" style="color: #b2b2b2;font-size: 0.85rem">薪酬要求</ion-item>
          <ion-item class="item-input">
            <i class="icon ion-cash placeholder-icon"></i>
            <input type="tel" ng-model="applyJob.pay" maxlength="2" placeholder="请输入您的薪酬要求，以时薪为单位" class="balanced">
          </ion-item>
        </ion-list>
        <ion-list ng-show="chin.total!==0">
          <ion-item class="item-divider item-borderless" style="color: #b2b2b2;font-size: 0.85em">兼职经验(多选)</ion-item>
          <ion-checkbox ng-repeat="item in checkList" id={{item.id}} ng-checked="isSelected(item.id)"
                        ng-click="updateSelection($event,item.id)" class="checkbox-balanced">
            <h2 class="balanced"
                ng-bind="item.recruitModel.enterpriseUserModel.name+'('+item.recruitModel.positionModel.name+')'"></h2>
            <p style="margin-top: 5px"
               ng-bind="item.recruitModel.jobStartTime.substring(0,10)+' 至 '+item.recruitModel.jobEndTime.substring(0,10)"></p>
          </ion-checkbox>
        </ion-list>
      </ion-content>
    </ion-modal-view>
  </script>
  <!--推荐兼职岗位-->
  <script id="jobGroom-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-dark">
        <a class="button button-icon ion-ios-close-empty" ng-click="closeJob();"></a>
        <h1 class="title" ng-bind="Title.job"></h1>
        <a class="button" ng-click="interviewApplyBtn();">申请</a>
      </ion-header-bar>
      <ion-content>
        <ion-list ng-hide="FristJobGrooms.length==0">
          <ion-item class="item-divider item-borderless" style="color: #b2b2b2;font-size: 0.85em">符合您要求的兼职岗位</ion-item>
          <ion-checkbox ng-repeat="fGroom in FristJobGrooms" id={{fGroom.id}} ng-checked="jobIsSelected(fGroom.id)"
                        ng-click="jobUpdateSelection($event,fGroom.id)" class="checkbox-balanced">
            <h2 class="balanced" ng-bind="fGroom.enterpriseUserModel.name"></h2>
            <p style="margin-top: 5px" class="balanced"
               ng-bind="fGroom.positionModel.name+'  '+fGroom.salary+fGroom.salaryTypeName+'  '+fGroom.settlementTypeName"></p>
          </ion-checkbox>
        </ion-list>
        <ion-list ng-hide="SecondJobGrooms.length==0">
          <ion-item ng-show="FristJobGrooms.length!==0" class="item-divider item-borderless"
                    style="color: #b2b2b2;font-size: 0.85em">为您推荐的兼职岗位
          </ion-item>
          <ion-item ng-show="FristJobGrooms.length==0" class="item-divider item-borderless"
                    style="color: #b2b2b2;font-size: 0.85em">未找到符合您要求的，以下是为您推荐的兼职岗位
          </ion-item>
          <ion-checkbox ng-repeat="sGroom in SecondJobGrooms" id={{sGroom.id}} ng-checked="jobIsSelected(sGroom.id)"
                        ng-click="jobUpdateSelection($event,sGroom.id)" class="checkbox-balanced">
            <h2 class="balanced" ng-bind="sGroom.positionModel.name+'  '+sGroom.salary+sGroom.salaryTypeName+'  '+sGroom.settlementTypeName" ></h2>
            <p style="margin-top: 5px" class="balanced"
               ng-bind="sGroom.enterpriseUserModel.name"></p>
          </ion-checkbox>
        </ion-list>
      </ion-content>
    </ion-modal-view>
  </script>

  <!--城市选择-->
  <script id="city-modal.html" type="text/ng-template">
    <ion-modal-view class="city-home">
      <ion-header-bar class="bar-dark">
        <a class="button button-icon ion-android-close" ng-click="closeCity();"></a>
        <h1 class="title" ng-bind="Title.city"></h1>
      </ion-header-bar>
      <ion-content padding="true">
        <h6>定位城市</h6>
        <div class="row">
          <div class="col">
            <button class="button button-light" ng-bind="cityName.name"></button>
          </div>
        </div>
        <h6>最近访问的城市</h6>
        <div class="row">
          <div class="col">
            <button class="button button-light">嘉兴</button>
          </div>
        </div>
        <div>
        </div>
        <ion-list>
          <div ng-repeat="x in provinces">
            <ion-item class="item-divider item-borderless" ng-bind="x.name"></ion-item>
            <ion-radio ng-repeat="y in cities |filter:x.code" ng-value="y.name">
              {{y.name}}
            </ion-radio>
          </div>
        </ion-list>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>


