<ion-view hide-tabs="true" class="jobApply coures">
  <ion-nav-title>
    兼职历程
  </ion-nav-title>
  <ion-content>
    <ion-refresher pulling-text="更新数据..." spinner="ripple" on-refresh="doRefresh();"></ion-refresher>

    <div class="NullInfo" ng-show="tipShow==false">
      <div class="tipImgF"></div>
      <h6 class="tip text-center balanced">暂无兼职历程</h6>
    </div>
    <div class="card" ng-repeat="item in items">
      <ion-list>
        <ion-item class="head item-divider">
          <div class="row">
            <div class="col col-80">
              <p ng-bind="item.recruitModel.positionModel.name"></p>
            </div>
            <div class="col text-right" ng-click="openPopover($event,item);">
              <i class="icon ion-android-menu"></i>
            </div>
          </div>
        </ion-item>
        <ion-item class="body">
          <div class="row responsive-sm">
            <div class="col">
              <p><span class="stable">单位：</span><span ng-bind="item.recruitModel.enterpriseUserModel.name"></span></p>
              <p><span class="stable">地址：</span><span ng-bind="item.recruitModel.jobAddress"></span></p>
              <p><span class="stable">薪酬：</span><span
                ng-bind="item.recruitModel.salary+' '+item.recruitModel.salaryTypeName"></span></p>
              <p ng-show="item.checkInReviewModel==null"><span class="stable">评价：</span><span class="stable">未评价</span>
              </p>
              <p ng-show="item.checkInReviewModel!==null"><span class="stable">评价：</span><span class="balanced"
                                                                                               ng-click="seeConfirm();">已评价</span>
              </p>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <script id="jobCoures-popover.html" type="text/ng-template">
    <ion-popover-view class="Confirm">
      <ion-list class="text-center">
        <ion-item ng-click="delConfirm();" style="color:#a2a2a2">删除记录</ion-item>
        <ion-item ng-click="seeConfirm();" class="balanced" ng-show="jobList.checkInReviewModel!==null">查看评价</ion-item>
      </ion-list>
    </ion-popover-view>
  </script>
</ion-view>



