<ion-view title="我的简历" hide-tabs="true">
  <ion-nav-buttons side="right">
    <a class="button" ng-click="openNr()">新增</a>
  </ion-nav-buttons>
  <ion-content class="reume_Countent">
    <div style="padding-top:280px" class="text-center" padding>
      从"右上角"新增简历，每位求职者只允许有一份简历<br/>
      兼职经验可以在求职时选择性进行发送
    </div>
  </ion-content>

  <script id="newReume-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-dark">
        <a class="button button-icon ion-ios-arrow-left" ng-click="closeNr();"></a>
        <h1 class="title" ng-bind="nRTitle"></h1>
        <a class="button">保存</a>
      </ion-header-bar>
      <ion-content class="newReume">
        <ion-list>
          <ion-item class="item-divider"></ion-item>
          <ion-item>
            <span class="stable">姓名：</span>
            <span ng-bind="user.name"></span>
          </ion-item>
          <ion-item>
            <span class="stable">年龄：</span>
            <span ng-bind="user.age+'岁'"></span>
          </ion-item>
          <ion-item>
            <span class="stable">性别：</span>
            <span ng-bind="user.sexName"></span>
          </ion-item>
          <ion-item>
            <span class="stable">出生年月：</span>
            <span ng-bind="user.birthday"></span>
          </ion-item>
          <ion-item>
            <span class="stable">联系方式：</span>
            <span ng-bind="user.userModel.cellPhone"></span>
          </ion-item>
          <ion-item class="item-divider"></ion-item>
          <ion-item class="item-input">
            <span class="input-label">身高：</span>
            <input type="text" placeholder="请输入您的身高，单位为CM">
          </ion-item>
          <ion-item class="item-input">
            <span class="input-label">体重：</span>
            <input type="text" placeholder="请输入您的身高，单位为KG">
          </ion-item>
          <ion-item class="item-divider"></ion-item>
          <ion-item class="item-input">
            <textarea placeholder="请简单的做下自我介绍，让用人单位能够了解下您。"></textarea>
          </ion-item>
          <ion-item class="item-divider"></ion-item>
          <ion-item class="item-divider">
            <span class="input-label">个人风采(非必传)</span>
          </ion-item>
        </ion-list>
        <div class="row">
          <div class="col">
            <img src="img/timg.jpeg" style="width: 100%;height: 100%;">
            <img src="img/timg1.jpeg" style="width: 100%;height: 100%;">
            <img src="img/timg2.jpg" style="width: 100%;height: 100%;">
          </div>
          <div class="col imgPlus">
            <span class="ionic ion-plus"></span>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
</script>
</ion-view>



