<ion-view title="我的简历" hide-tabs="true">
  <ion-nav-buttons side="right">
    <a class="button" ng-click="openNr()"
       ng-show="resumeModify.success===false && resumeList.certifyStatus==='SUCCESS'">新增</a>
    <a class="button" ng-click="openNr()" ng-show="resumeModify.success===true">编辑</a>
  </ion-nav-buttons>
  <ion-content class="reume_Countent" ng-hide="resumeModify.success===true && resumeList.certifyStatus==='SUCCESS'">
    <div style="padding-top:250px" class="text-center" padding
         ng-show="resumeModify.success===false && resumeList.certifyStatus==='SUCCESS'">
      从"右上角"新增简历，每位求职者只允许有一份简历<br/>
      兼职经验可以在求职时选择性进行发送
    </div>
    <div style="padding-top:250px" class="text-center" padding ng-show="resumeList.certifyStatus==='NOT'">
      添加简历前，请先进行实名身份认证<br/>
      我的--安全中心--实名认证
    </div>
  </ion-content>
  <!--<ion-content class="newReume" ng-show="resumeModify.success===true || resumeList.certifyStatus=='NOT'">-->
  <ion-content class="newReume" ng-show="resumeModify.success===true">
    <!--这里写用户的信息-->
    <ion-list>
      <ion-item class="item-divider"></ion-item>
      <ion-item>
        <span class="stable">姓名：</span>
        <span ng-bind="modifyList.appUserModel.name"></span>
      </ion-item>
      <ion-item>
        <span class="stable">年龄：</span>
        <span ng-bind="modifyList.appUserModel.age+'岁'"></span>
      </ion-item>
      <ion-item>
        <span class="stable">性别：</span>
        <span ng-bind="modifyList.appUserModel.sexName"></span>
      </ion-item>
      <ion-item>
        <span class="stable">出生年月：</span>
        <span ng-bind="modifyList.appUserModel.birthday.substring(0,10)"></span>
      </ion-item>
      <ion-item class="item-divider"></ion-item>
      <ion-item>
        <span class="stable">身高：</span>
        <span ng-bind="modifyData.height"></span>
      </ion-item>
      <ion-item>
        <span class="stable">体重：</span>
        <span ng-bind="modifyData.weight"></span>
      </ion-item>
      <ion-item class="item-divider">
        <p>个人介绍</p>
        </ion-item>
      <ion-item>
        <span ng-bind="modifyData.description"></span>
      </ion-item>
      <ion-item class="item-divider" ng-hide="imageUser.length==0">
      <p>个人风采</p>
      </ion-item>
    </ion-list>
    <div class="row userClass" ng-hide="imageUser.length==0">
      <img att="img" ng-repeat="img in imageUser" ng-src="{{imageUrl+img.id}}">
    </div>
  </ion-content>
  <script id="newReume-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar class="bar-balanced">
        <a class="button button-icon ion-ios-arrow-left" ng-click="closeNr();"></a>
        <h1 class="title" ng-bind="nRTitle.resume" ng-show="resumeModify.success===false"></h1>
        <h1 class="title" ng-bind="nRTitle.modify" ng-show="resumeModify.success===true"></h1>
        <a class="button energized" ng-click="preserveNr();">保存</a>
      </ion-header-bar>
      <ion-content class="newReume">
        <ion-list>
          <ion-item class="item-divider"></ion-item>
          <ion-item>
            <span class="stable">姓名：</span>
            <span ng-bind="resumeList.name"></span>
          </ion-item>
          <ion-item>
            <span class="stable">年龄：</span>
            <span ng-bind="resumeList.age+'岁'"></span>
          </ion-item>
          <ion-item>
            <span class="stable">性别：</span>
            <span ng-bind="resumeList.sexName"></span>
          </ion-item>
          <ion-item>
            <span class="stable">出生年月：</span>
            <span ng-bind="resumeList.birthday.substring(0,10)"></span>
          </ion-item>
          <ion-item>
            <span class="stable">联系方式：</span>
            <span ng-bind="resumeList.userModel.cellPhone"></span>
          </ion-item>
          <ion-item class="item-divider"></ion-item>
          <ion-item class="item-input">
            <span class="input-label">身高：</span>
            <input type="tel" ng-model="addData.height" placeholder="请输入您的身高，单位为CM" maxlength="3"
                   ng-show="resumeModify.success===false">
            <input type="tel" ng-model="modifyData.height" placeholder="请输入您的身高，单位为CM" maxlength="3"
                   ng-show="resumeModify.success===true">
          </ion-item>
          <ion-item class="item-input">
            <span class="input-label">体重：</span>
            <input type="tel" ng-model="addData.weight" placeholder="请输入您的体重，单位为KG" maxlength="3"
                   ng-show="resumeModify.success===false">
            <input type="tel" ng-model="modifyData.weight" placeholder="请输入您的体重，单位为KG" maxlength="3"
                   ng-show="resumeModify.success===true">
          </ion-item>
          <ion-item class="item-divider">
            <p>个人介绍</p>
          </ion-item>
          <ion-item class="item-input">
            <textarea ng-model="addData.description" placeholder="请简单的做下自我介绍，让用人单位能够了解下您。"
                      ng-show="resumeModify.success===false"></textarea>
            <textarea ng-model="modifyData.description" placeholder="现在是编辑了"
                      ng-show="resumeModify.success===true"></textarea>
          </ion-item>
          <ion-item class="item-divider">
            <p>个人风采(非必传)</p>
          </ion-item>
        </ion-list>
        <div class="row userClass">
          <img att="img" ng-repeat="img in imageUser" ng-src="{{imageUrl+img.id}}" ng-click="imgDelete(img.id)">
          <img att="upImg" ng-click="picture();" ng-hide="imageUser.length==3">
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>



