<ion-view view-title="我的">
  <ion-content class="user_content">
    <ion-list>
      <ion-item class="item-divider"></ion-item>
      <ion-item class="item item-avatar item-icon-right" href="#/tab/hubs">
        <img ng-src="{{userImg}}">
        <h2 ng-bind="user.userModel.userName"></h2>
        <p>登录账号：<span ng-bind="user.userModel.cellPhone"></span></p>
      </ion-item>
      <ion-item class="item-divider"></ion-item>
      <ion-item class="item item-icon-left" href="#/tab/reume">
        <i class="icon ion-clipboard "></i>
        我的简历
      </ion-item>
      <ion-item class="item item-icon-left" href="#/tab/coures">
        <i class="icon ion-map "></i>
        兼职历程
      </ion-item>
      <ion-item class="item item-icon-left" href="#/tab/collection">
        <i class="icon ion-ios-star-half "></i>
        兼职收藏
      </ion-item>
      <ion-item class="item-divider"></ion-item>
      <ion-item class="item item-icon-left" href="#/tab/about">
        <i class="icon ion-more "></i>
        关于我们
        <span class="item-note">V1.0</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
