<ion-view class="jobApply">
  <ion-nav-title>
    申请管理
  </ion-nav-title>
  <ion-content>
    <ion-refresher pulling-text="更新数据..." spinner="ripple" on-refresh="doRefresh();"></ion-refresher>
    <div class="NullInfo" ng-show="tipShow==false" style="margin-top: 50%">
      <div class="tipImgF"></div>
      <h6 class="tip text-center balanced" >暂无入职邀请</h6>
    </div>
    <div class="NullInfo" ng-show="items===null" style="margin-top: 50%">
      <p style="text-align: center;margin-bottom: 3rem">
        <ion-spinner icon="lines" class="spinner-balanced"></ion-spinner>
      </p>
    </div>
    <div class="card" ng-repeat="item in items">
      <ion-list>
        <ion-item class="head item-divider">
          <div class="row">
            <div class="col col-80">
              <p ng-bind="item.recruitModel.positionModel.name"></p>
            </div>
            <div class="col text-right" ng-click="openPopover($event,item);">
              <i class="icon ion-android-menu  balanced"></i>
            </div>
          </div>
        </ion-item>
        <ion-item class="body">
          <div class="row responsive-sm">
            <div class="col">
              <!--兼职企业-->
              <p>
                <i class="icon ion-ios-home balanced"></i>&nbsp;
                <span ng-bind="item.recruitModel.enterpriseUserModel.name"></span>
              </p>
              <!--结算方式-->
              <p>
                <i class="icon ion-social-usd balanced"></i>&nbsp;&nbsp;
                <span class="balanced" ng-bind="item.recruitModel.salary+' '+item.recruitModel.salaryTypeName"></span>&nbsp;&nbsp;
                <span class="balanced" ng-bind="item.recruitModel.settlementTypeName"></span></p>
              <!--工作时间-->
              <p>
                <i class="icon ion-ios-clock balanced"></i>&nbsp;
                <span ng-bind="item.recruitModel.jobEndTime.substring(0,10)+' 至 '+item.recruitModel.jobStartTime.substring(0,10)"></span>
              </p>
              <!--工作地址-->
              <p ng-click="addressAlert(item.recruitModel.jobAddress);">
                <i class="icon ion-android-compass balanced"></i>&nbsp;
                <span ng-bind="item.recruitModel.jobAddress"></span></p>
              <!--面试人员和电话-->
              <p ng-click="telPhone($event,item.recruitModel.contactPhone)">
                <i class="icon ion-android-person balanced"></i>&nbsp;&nbsp;<span ng-bind="item.recruitModel.contactPerson"></span>&nbsp;&nbsp;&nbsp;
                <i class="icon ion-android-call balanced"></i>&nbsp;<span class="balanced" ng-bind="item.recruitModel.contactPhone"></span>
              </p>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <script id="jobEntry-popover.html" type="text/ng-template">
    <ion-popover-view class="Confirm">
      <ion-list class="text-center">
        <ion-item ng-click="refuseJob();" class="balanced">拒绝入职</ion-item>
        <ion-item ng-click="acceptJob();" class="balanced">接受入职</ion-item>
      </ion-list>
    </ion-popover-view>
  </script>
</ion-view>

