<ion-view view-title="分类">
  <ion-content class="category">
    <div class="NullInfo" ng-show="CateLists===null || PostLists===null" style="margin-top: 50%">
      <p style="text-align: center;margin-bottom: 3rem">
        <ion-spinner icon="lines" class="spinner-balanced"></ion-spinner>
      </p>
    </div>
    <ion-list>
      <div ng-repeat="group in CateLists">
        <!--<ion-item class="item-stable" ng-bind="group.name"></ion-item>-->
        <ion-item class="item-stable "
                  ng-click="toggleGroup(group)"
                  ng-class="{active: isGroupShown(group)}" >
          <i class="icon" ng-class="isGroupShown(group)? 'ion-minus' : 'ion-plus'"></i>
          {{group.name}}
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="item in PostLists |filter:group.name"
                  ng-show="isGroupShown(group)" href="#/tab/Classification/{{item.id}}/{{item.name}}">
          {{item.name}}
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
